*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    background-color: #075E24;
    color: antiquewhite;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.nav_section{
    background-color: #F7F7F7;
    margin-bottom: 50px;
    
}
.main_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.sign_nav{
    display: flex;
    gap:15px;
}
.sign_nav2{
    text-decoration: none;
    color: #1976D2;
    font-size: 20px;
    font-weight: 500;
}
#eng_button{
    background-color: #1976D2;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}
.second_nav{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px; 
    
}
.second_nav a{
 text-decoration: none;
 color: #1976D2;
 font-size: 20px;
 font-weight: 700;
 border-radius: 8px;
 padding: 20px 25px;
}
.second_nav a:hover{
    background-color: #1976D2;
    color: #ffff;
}
#button_apply{
    background-color: #075E24;
    color: #ffff;

}
.container{ 
    width: 50%;
    margin:20px auto;
}
.main_title{
    color: #323437;
    font-size: 35px;
    margin-bottom: 50px;
}
.sub_title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.first_radio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.input_button{
    margin-bottom: 20px;
}
.mini_sub{
    font-size: 18;
    margin-bottom: 15px;
}
.District_container{
    margin-bottom: 20px;
}
.enroll{
    margin-top: 30px;
}
.continue_btn{
    color: #ffff;
    background-color: #118D46;
    font-weight: bold;
    padding:9px 35px ;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
}
.footer{
    text-align: center;
    background-color: #075E24;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer a{
    text-decoration: none;
    color: #ffff;
}